ChewyLokumLegend/game.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!--
 XML Schema Generated from XML Document on Sun Oct 26 2014 16:33:00 GMT+0000 (GMT) 
-->
<!--
 with XmlGrid.net Free Online Service http://xmlgrid.net 
-->
<xs:element name="game">
<xs:complexType>
<xs:sequence>
<xs:element name="player">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="board">
<xs:complexType>
<xs:sequence>
<xs:element name="lokums">
<xs:complexType>
<xs:sequence>
<xs:element name="lokum"  maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="color" type="xs:string"/>
<xs:element name="position">
<xs:complexType>
<xs:sequence>
<xs:element name="xcoord"/>
<xs:element name="ycoord"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="type" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="obstacles">
<xs:complexType>
<xs:sequence>
<xs:element name="obstacle" maxOccurs="unbounded" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="color" type="xs:string"/>
<xs:element name="position">
<xs:complexType>
<xs:sequence>
<xs:element name="xcoord" type="xs:int"/>
<xs:element name="ycoord" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="goalscore" type="xs:int"/>
<xs:element name="currentscore" type="xs:int"/>
<xs:element name="movesleft" type="xs:int"/>
<xs:element name="level" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>